* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
    min-height: 100vh;
    background-color: #e9ecef;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-bottom: 15px;
}

#selectButton {
    padding: 3px 4px 3px 4px;
    margin-bottom: 15px;
    border: 2px solid #adb5bd;
    border-radius: 4px;
    cursor: pointer;
}

#selectButton:hover {
    background-color: #ced4da;
}

#selectButton:active {
    background-color: #adb5bd;
}

canvas {
    margin-top: 10px;
    border: 2px solid #adb5bd;
    width: 300px;
    height: 150px;
}

#percent {
    margin-bottom: 10px;
}

#startButton {
    margin-top: 10px;
    margin-bottom: 7px;
    padding: 4px 7px 4px 7px;
}

.sizeSlider {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    background-color: #ccc;
    outline: none;
    cursor: pointer;
    height: 6px;
    padding: 0;
}

.slider::-webkit-slider-thumb {
    height: 20px;
    width: 10px;
    border-radius: 0;
} 

.slider::-moz-range-thumb {
    height: 20px;
    width: 10px;
    border-radius: 0;
}

.slider.left {
    direction: rtl;
    border-radius: 10px 0px 0px 10px;
}
.slider.right {
    border-radius: 0px 10px 10px 0px;
}

.hidden {
    display: none;
}

.loadingToSlider {
    display: flex;
    flex-direction: column;
    align-items: center;
}